{% extends 'website/main.html' %}

{% block content %}

{% if validlink %}

<p>Будь ласка, введіть свій новий пароль двічі, щоб ми могли перевірити, чи правильно ви його ввели.</p>

<form method="POST">
    {% csrf_token %}

    {% include 'includes/eazy_form.html' with form=form %}
    
    <br>
    <button type="submit" class="btn btn-primary">Змінити пароль</button>
</form>

{% else %}

<p>Посилання для скидання паролю недійсне, можливо тому, що воно вже використовувалося. Будь ласка, надішліть новий запит на скидання паролю.</p>

{% endif %}

{% endblock %}