{% autoescape off %}

Схоже, що ви запросили відновлення паролю на сайті {{ site_name }}.
Якщо ви не вимагали цієї зміни, ви можете сміливо ігнорувати цей електронний лист.
Щоб встановити новий пароль, будь ласка, перейдіть за посиланням нижче:

{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

Ваш логін на сайті: {{ user.get_username }}

Дякуємо за те, що користуєтесь нашим сайтом!

Команда {{ site_name }}.

{% endautoescape %}